*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}
nav.botoneraMovil{
    position: absolute;
    width: 90%;
    height: auto;
    background: white;
    top: 50px;
    left: 50px;
}
nav.botoneraMovil ul li{
    width: 100%;
    line-height: 40px;
    text-align: center;
    border: 1px solid white;
    background: gray;
}
label#labelMovil span{
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("./imagenes/menu1.png");
}