header {
  background-image: url("../assets/Enmascarar grupo 11.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-position-x: -582px;
}

header section#headerMenu {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header section#headerMenu nav.botoneraMovil {
  position: absolute;
  width: 491px;
  height: auto;
  background: white;
  top: 50px;
  left: -100%;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

header section#headerMenu nav.botoneraMovil .menu__socialNetwork {
  margin: 134px 0 0 75px;
}

header section#headerMenu nav.botoneraMovil .menu__socialNetwork--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 28px 174px 20vh 0;
}

header section#headerMenu nav.botoneraMovil h3 {
  color: #e6e6e6;
  font-size: 22px;
  font-weight: 400;
}

header section#headerMenu ul {
  margin: 119px 0 0 75px;
}

header section#headerMenu ul li {
  width: 100%;
  line-height: 40px;
  text-align: left;
  border: 1px solid white;
  color: #000000;
  font-size: 22px;
  font-weight: medium;
  margin-bottom: 50px;
}

header section#headerMenu label#labelMovil span {
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../assets/Burguer - Menu.svg");
  background-size: cover;
  margin: 20px 0px 19px 19px;
}

header section#headerMenu label#labelMovil span:hover {
  cursor: pointer;
}

header section#headerMenu input#botonMovil {
  display: none;
}

header section#headerMenu input#botonMovil:checked + label#labelMovil span {
  background-image: url("../assets/Arrow - back.svg");
  width: 8px;
  height: 17px;
}

header section#headerMenu input#botonMovil:checked ~ nav.botoneraMovil {
  left: 0px;
}

header section#headerMenu .headerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 79px;
  height: 34px;
  margin: 9px 0px 10px 60px;
}

header section#headerMenu .headerIconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 16px 17px;
}

header section#headerMenu .headerIconos img {
  padding: 0 10px 0 10px;
}

header section#headerMenu .headerTitulo {
  margin: auto;
  padding: 23px 14px;
  text-align: center;
}

header section#headerMenu .headerTitulo h1 {
  font-size: 18px;
  color: white;
}

header section#headerMenu .headerLocalidad {
  margin: 14px 30px 16px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  border-radius: 6px;
}

header section#headerMenu .headerLocalidad input {
  width: 27px;
  height: 24px;
  margin: 31px 0px 29px 17px;
}

header section#headerMenu .headerLocalidad div {
  margin: 19px 55px 17px 16px;
}

header section#headerMenu .headerLocalidad div h3 {
  color: #6e6e6e;
  font-weight: 300;
}

header section#headerMenu .headerLocalidad div h1 {
  font: 600;
  color: #000000;
  margin-top: 3px;
}

header section#headerMenu .headerSwitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header section#headerMenu .headerSwitch div p {
  padding-left: 16px;
  color: #ffffff;
  margin: auto;
}

header section#headerMenu .headerSwitch .switchButton {
  display: inline-block;
  width: 36px;
  height: 21px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-left: 36px;
}

header section#headerMenu .headerSwitch .switchButton__checkBox {
  display: none;
}

header section#headerMenu .headerSwitch .switchButton__label {
  background-color: #ffffff;
  border-radius: 10px;
  width: 16px;
  height: 18px;
  border: 0px solid #e6484b;
  display: inline-block;
  position: inherit;
}

header section#headerMenu .headerSwitch .switchButton .switchButton__label:before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
}

header section#headerMenu .headerSwitch .switchButton .switchButton__checkBox:checked + .switchButton {
  background-color: #dbdbdb;
}

header section#headerMenu .headerSwitch .switchButton .switchButton__checkBox:checked + .switchButton__label:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

header section#headerMenu .headerCalendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px 30px 16px 31px;
  background-color: #ffffff;
  border-radius: 6px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header section#headerMenu .headerCalendar__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header section#headerMenu .headerCalendar__event input {
  width: 27px;
  height: 24px;
  margin: 31px 0px 29px 17px;
}

header section#headerMenu .headerCalendar__event div {
  margin: 19px 55px 17px 16px;
}

header section#headerMenu .headerCalendar__event div h3 {
  color: #6e6e6e;
  font-weight: 300;
}

header section#headerMenu .headerCalendar__event div h1 {
  font: 600;
  color: #000000;
  margin-top: 3px;
}

header section#headerMenu .headerBrowser {
  position: inherit;
  width: 86px;
  height: 60px;
  top: 10px;
  margin: auto;
}
/*# sourceMappingURL=header.css.map */