$colorStar: #00B67A!default;
$colorFondStar: #DCDCE6!default;
$colorParagraphFooter: #464646!default;
$colorCheck: #E6484B!default;
$colorBorderHeader: #E6E6E6!default;
$colorDesaultText: #000000!default;
$colorBackground: #FFFFFF!default;
$colorTitleDate: #6E6E6E!default;
$colorFondDate: #1400000F!default;
$colorDisableDate: #C8C8C8!default;
$colorBoxShadowTitle: #DD1E22!default;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 491px;
    margin: auto;
}
header{
    background-image: url("../assets/Enmascarar\ grupo\ 11.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
}