-var titulo = ["titulo principal", "otro titulo"]
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.css")
        title Document
    body
        header
            h1 PLATZIGAMES 
            a.boton REGISTRO  
        section.intro 
            .intro_img: img(src="https://images.pexels.com/photos/4322027/pexels-photo-4322027.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="")
            .intro__text 
            <!--desde la variable declarada-->
                h1 #{titulo[0]}
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, cumque. Libero, quisquam.
        section.blog 
            .blog_first 
                img(src="", alt="")
                h1 
                p 
            .blog_second
            ul
                each tile in titulo 
                    li=titulo  
            .blog_third 
