*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes animacion{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*
* HEADER CARRUSEL
@keyframes animacion{
    0%{
        left: 0%;
    }
    50%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}
*/
.fondoUno{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("../imagenes/imagenUno.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: animacion 10s linear 12s infinite;
}
.fondoDos{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("../imagenes/imagenDos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: animacion 10s linear 6s infinite;
}
.fondoTres{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("../imagenes/imagenTres.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: animacion 10s infinite;
}

